*{
  margin:0;
  padding:0;
  font-family:Century Gothic;

}
#index{
  background-image:linear-gradient(rgba(0,0,0,0.09),rgba(0,0,0,0.09)),url(88.jpg);
  height:50vh;
  background-size:cover;
  background-position:center;
}
#subpage{
  background-image:url(blue.png);
  height:68px;
  background-size:cover;
  background-position:center;
}
.logo{
  padding-left:5px;
}
.logo img{
  float:left;
  width:50px;
  height:auto;
  padding-left:5px;
  padding-top:6px;
}
.logo p{
  color:#000;
  margin-top:1px;
  margin-left:6px;
  font-weight:600;
}
/*
.main{
  max-width:1200px;
  margin:auto;
}
*/
.title{
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
}
.title h1{
  color:#fff;
  font-size:87px;
  font-weight:1000px;
  letter-spacing:1px;
}
.title h3{
  color:rgb(222, 232, 244);
  font-size:35px;
  font-weight:1000px;
  letter-spacing:1px;
}
.button{
  position:absolute;
  top:70%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
}
.btn{
  border:1px solid #000;
  padding:10px 30px;
  color:#fff;
  background-color: #000;
  decoration:none;
  transition:0.6s ease;

}
.btn:hover{
  background-color:#fff;
  color:#000;
}
.topnav{
  float:right;
  list-style-type:none;
  margin-top:25px;
  display:inline-block;
  margin-right:30px;
}
.top{
  padding:5px 20px;
  color:#fff;
  text-decoration:none;
  transition:0.6s ease;
}
.top:hover{
  background-color:#fff;
  color:#000;
}
.aboutbg{
  /*width:80em;*/
  margin-left:20px;
  margin-right:20px;
  margin-top:20px;
}
.labels{
  font-size:20px;
  font-family:Lato;
  color:rgb(47, 18, 61);
  padding:2px 2px 2px 2px;
}
.labelsf{
  font-size:40px;
  font-family:Lato;
  color:rgb(50, 40, 140);
  padding:2px 2px 2px 2px;
}
.aboutbg img{
  position:absolute;
  width:auto;
  right:7%;
  height:400px;
  margin-top:20px;
  border:1px solid #000;
}




.info{
  margin-top:10px;
  font-size:20px;
  color:#000;
}
.About{
}
.labelt{
  font-size:45px;
  font-family:Lato;
  color:rgb(50, 40, 140);
  padding:2px 2px 2px 2px;
  text-align:center;
  margin-top:20px;


}
/* Three columns side by side */
.column {
  float: right;
  width: 28%;
  margin-bottom: 16px;
  margin-top:10px;
  padding: 0 8px;
  align-items: center;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.card img{
  border-radius: 50%;
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  align-items: center;
  text-align: center;
}

.title {
  color: grey;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(124, 125, 127);
  color: white;
  text-align: center;
}
.infostart{
  font-size:28px;
  font-weight:bold;
  margin:20px 20px 20px 20px;
  text-align:center;

}
.infobanner{
  padding: 20px 20px 20px 20px;
  background-color: rgb(177, 203, 239);
}


.faq{
  padding: 20px 20px 20px 20px;
  background-color: rgb(177, 203, 239);
  margin-left:0px;
}
.aboutphotocap{
  font-weight:bold;
  font-size:20px;
  font-style:italic;
  margin-left:240px;

}
#aboutphoto{
  width:600px;
  height:auto;
  margin-right:200px;
}

.startinfobanner{
  font-size:20px;
  font-style:italic;
}
#startinfopic{
  width:500px;
  height:auto;
  float:right;
}
.more{
  font-size:20px;
}
#less{
  font-size:20px;
}
.firstpic{
  width:100%;
  height:auto;
}
.overlayc{
  position:absolute;
  top:130%;
  right:6%;
}
.secondpic{
  width:auto;
  height:500px;
  float:left;
  position:absolute;
  left:2%;
  border-radius:5%;

}
.captioon{
  position:absolute;
  top:110%;
  left:4%;
}
.thirdpic{
  position:absolute;
  float:right;
  width:auto;
  height:500px;
  right:4%;
  border-radius:5%;

}
.captiooon{
  position:absolute;
  top:110%;
  right:6%;
}
.sponsors{
  top:160%;
  left:5%;
  position:absolute;
}
.partners{
  font-size:25px;
  border-bottom:1px solid #000;
}
.sponsors img{
  display:inline block;
  width:500px;
  height:auto;
  margin-right:100px;
  margin-top:20px;
  margin-bottom:50px;
}
.Pabox{
  float:left;
  background-color:rgb(192, 213, 247);
  border:none;
  padding:20px 20px 20px 20px;
  margin:20px 20px 20px 20px;
  margin-left: 10em;
  width:320px;
  height:210px;

}
.Denverbox{
  float:left;
  background-color:rgb(211, 199, 165);
  border:none;
  padding:20px 20px 20px 20px;
  margin:20px 20px 20px 20px;
  width:320px;
  height:210px;
}
.Internationalbox{
  float:left;
  background-color:rgb(197, 242, 174);
  border:none;
  padding:20px 20px 20px 20px;
  margin:20px 20px 20px 20px;
  width:320px;
  height:210px;
}
.SFbox{
  float:left;
  background-color:rgb(249, 155, 112);
  border:none;
  padding:20px 20px 20px 20px;
  margin:20px 20px 20px 20px;
  width:320px;
  height:210px;
}
.Newlocbox{
  float:left;
  background-color:rgb(224, 202, 247);
  border:none;
  padding:20px 20px 20px 20px;
  margin:20px 20px 20px 20px;
  width:320px;
  height:210px;
}
.boxlabel{
  font-size: 25px;
  font-weight: bold;
  text-align:center;
}
.boxinfo{
  font-size:18px;
  text-align:center;
}
.btnbox{
  padding:10px 30px;
  color:#fff;
  text-decoration: none;
  transition:0.6s ease;
  font-size:30px;
  background-color:rgb(7, 35, 79);
  text-align:center;
  margin-top:20px;
}
.btnbox:hover{
  background-color:rgb(141, 144, 147);
  color:#000;
}
.datesbox{
  font-size:20px;
  font-weight: bold;
  text-align:center;
  margin-top:5px;
}
.boxes{
margin-top:30px;
}
.anyone{
  margin-top:10px;
  font-size:70px;
  text-align:center;
  font-weight:bold;
  color:rgb(7, 35, 79);
}
.faqhead{
  font-weight:bold;
  font-size:30px;
  color:rgb(7, 35, 79);
  text-align:center;
  margin-top:30px;
}
.faqbody{
  font-size:20px;
  margin: 20px 20px 20px 20px;
  text-align:center;

}
.topfaqteach{
  font-size:50px;
  font-weight:bold;
  text-align:center;
  margin-top:20px;
}
.eligibilitycriteria{
  background-color:rgb(185, 209, 232);
  margin-top:70px;
  padding:10px 10px 10px 10px;
  align-items: center;

}
.eclabel{
  font-size:30px;
  font-style:italic;
  padding-bottom:10px;
  text-align: center;
}
.criteria{
  font-size:18px;
  text-align: center;
}
.buttonboxa{
  padding:10px 30px;
  color:#fff;
  text-decoration: none;
  transition:0.6s ease;
  font-size:30px;
  background-color:rgb(7, 35, 79);
  text-align:center;
  margin-top:20px;
}
.btnboxa:hover{
  background-color:rgb(141, 144, 147);
  color:#000;
  position:absolute;
  right:30%;
}

.typewriter{
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
}


.typewriter h1 {
  font-weight:1000px;
  letter-spacing:0.5px;
  font-size:87px;
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation:
    typing 3.0s steps(30, end),
    blink-caret .5s step-end infinite;
}
.typewriter h3{
  font-size:30px;
  color: #fff;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}
#aboutinfopic{
  width:250px;
  height:auto;
}
